# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ceramic\ceramic1.0.0-SNAPSHOT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
